{
  "name": "litevfs",
  "version": "{VERSION}",
  "main": "lib/index.js",
  "files": [
    "lib/**",
    "scripts/**"
  ],
  "scripts": {
    "install": "scripts/install.js"
  },
  "dependencies": {
    "better-sqlite3": "^8.6.0"
  },
  "optionalDependencies": {
    "litevfs-linux-x64-gnu": "{VERSION}",
    "litevfs-linux-x64-musl": "{VERSION}",
    "litevfs-linux-arm64-gnu": "{VERSION}",
    "litevfs-linux-arm64-musl": "{VERSION}",
    "litevfs-darwin-x64": "{VERSION}",
    "litevfs-darwin-arm64": "{VERSION}",
    "litevfs-windows-x64": "{VERSION}"
  }
}

