{
  "name": "litevfs",
  "version": "{VERSION}",
  "main": "lib/index.js",
  "files": [
    "lib/**"
  ],
  "dependencies": {
    "better-sqlite3": "^8.6.0"
  },
  "optionalDependencies": {
    "litevfs-linux-x64": "{VERSION}",
    "litevfs-linux-arm64": "{VERSION}",
    "litevfs-darwin-x64": "{VERSION}",
    "litevfs-darwin-arm64": "{VERSION}"
  }
}

